---
repos:
  - repo: local
    hooks:
      - id: prompt-lint
        name: Lint prompts
        entry: tools/lint_prompts.py
        language: system
        types: [file]
        files: \.(json|ya?ml|md)$

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
